.ui.borderless.topmenu.menu {
  border: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 90;
  height: 80px;
  background-size: 100px;
}

.ui.container{
  color: white;
}

.image.item {
  width: 200px;
}

.right.item {
  color: white;!important;
}
